<div class="container contact-form">
            <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()" >
                <h3>Submission form</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input  formControlName="name" type="text" minlength="5" maxlength="10" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="angForm.controls['name'].errors.required">
                            Name is required.
                          </div>
                          <div *ngIf="userName.errors?.minlength">
                              Name must be at least 5 characters long.
                         </div>
                        </div>


                        <div class="form-group">
                            <input formControlName="email" type="text"  class="form-control" placeholder="Your Email *"  />
                        </div>

                        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="angForm.controls['email'].errors.pattern">
                            Email is required.
                          </div>
                          <div *ngIf="angForm.controls['email'].invalid">
                              email should be validate
                         </div>
                        </div>

                        <div class="form-group">
                            <input formControlName="phone" type="text"  class="form-control" placeholder="Your Phone Number *" value=""/>
                        </div>
                        <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)">
                            phoneno is required.
                          </div>
                        <div *ngIf="angForm.controls['phone'].errors.invalid">
                            phoneno isRTR required.
                          </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Submit" />
                        </div>
                    </div>
                </div>
            </form>
            <p>Form value: {{ angForm.value | json }}</p>
             <p>Form status: {{ angForm.status | json }}</p>
 </div>
